*{
	padding: 0;
	margin: 0;
    font-family:'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
	color: #776E65;

}
body{
	background-color: #FBF7E7;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 5%;
	padding-bottom: 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: space-around;
}
header.site-header{
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items: center;
	width: 95%;
}
div#title{
	display: flex;
	flex-direction: column;
}
header.site-header div#title h1#header-left{
	font-size: 80px;
    font-weight: bold;
    margin: 0;
    display: block;
}
header.site-header div#header-right p.game-intro{
	display: block;
	font-size: 18px;
	height: 29px;
	line-height: 29.7px;
}
div#header-right{
	padding: 5px 15px 5px 15px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border-radius: 3px;
	color: white;
	background-clip: border-box;
	background-color:rgb(187, 173, 160);
	font-family:'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	height: 50px;
}

strong.important{
	font-size:18px;
	font-weight:bold;
	height:auto;
	line-height:29.7px;
	text-transform:uppercase;
}
span#creator{
	cursor:pointer;
	display:inline;
	font-size:18px;
	font-weight:bold;
	height:auto;
	line-height:29.7px;
	text-decoration:underline;
}
.grid-container {
    position: absolute;
    z-index: 1;
  }
.grid-row &:last-child {
    margin-bottom: 0;
}

.grid-row &:after {
    content: "";
    display: block;
    clear: both;
}
.grid-cell &:last-child {
      margin-right: 0;
}
div.grid-container{
	background-color: #bbada0;
	border-radius: 6px;
	padding: 9px;
	margin-top: 50px;
}
div.grid-row{
	display: flex;
	flex-direction: row; 
}
div.grid-cell{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	width: 100px;
	border: 3px solid rgba(238, 228, 218, 0.35);
	border-radius: 3px;
	margin:6.75px;
	box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
	color:rgb(119, 110, 101);
	font-family:"Clear Sans", "Helvetica Neue", Arial, sans-serif;
	font-size:55px;
	font-weight:bold;

}
section{
	height:100%;

}
footer.how-to-play{
	bottom: 0;
	position: relative;
	width: 95%;
	margin-top: 580px;
	margin-bottom: 40px;
}