*{
	padding: 0;
	margin: 0;
    font-family:'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
	color: #776E65;

}
body{
	background-color: #FBF7E7;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 4%;
	padding-bottom: 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: space-around;
}
header.site-header{
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items: center;
	width: 55%;
}
div#title{
	display: flex;
	flex-direction: column;
}
header.site-header div#title h1#header-left{
	font-size: 80px;
    font-weight: bold;
    margin: 0;
    width: 400px; 
    display: block;
}
span.game-intro{
	display: block;
	font-size: 18px;
	height: 40px;
	line-height: 29.7px;
}
div#header-right{
	padding: 5px 15px 5px 15px;
	/*margin-left: 10px;*/
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border-radius: 3px;
	color: white;
	background-clip: border-box;
	background-color:rgb(187, 173, 160);
	font-family:'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	height: 50px;
}

strong.important{
	font-size:18px;
	font-weight:bold;
	height:auto;
	line-height:29.7px;
	text-transform:uppercase;
}
span#creator{
	cursor:pointer;
	display:inline;
	font-size:18px;
	font-weight:bold;
	height:auto;
	line-height:29.7px;
	text-decoration:underline;
}
.grid-container {
    position: absolute;
    z-index: 1;
  }
.grid-row &:last-child {
    margin-bottom: 0;
}

.grid-row &:after {
    content: "";
    display: block;
    clear: both;
}
.grid-cell &:last-child {
      margin-right: 0;
}
div.grid-container{
	background-color: #bbada0;
	border-radius: 6px;
	padding: 9px;
	margin-top: 50px;
}
div.grid-row{
	display: flex;
	flex-direction: row; 
}
div.grid-cell{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	width: 100px;
	border: 3px solid rgba(238, 228, 218, 0.35);
	border-radius: 3px;
	margin:6.75px;
	box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
	color:rgb(119, 110, 101);
	font-family:"Clear Sans", "Helvetica Neue", Arial, sans-serif;
	font-size:55px;
	font-weight:bold;

}
section{
	height:100%;

}
footer.how-to-play{
	bottom: 0;
	position: relative;
	width: 500px;
	margin-top: 580px;
	margin-bottom: 40px;
}
div#win_msg{
	/*display: none;*/
	display: flex;
	visibility: hidden;
	justify-content: center;
	align-items: center;
	visibility: none;
	position: absolute;
	top:10px;
	left: 10px;
	z-index: 1;
	opacity: 0.5;
	font-size: 40px;
	width: 475px;
	height: 475px;
	background-color: #ebc500;

	/*animation-delay:0.1s;
	animation-direction:normal;
	animation-duration:0.2s;
	animation-fill-mode:backwards;
	animation-iteration-count:1;
	animation-name:appear;
	animation-play-state:running;
	animation-timing-function:ease;*/
}

.modal {
    display: none;
    position: absolute;
	top:10px;
	left: 10px;
	z-index: 1; 
    padding-top: 100px;
    /*top:20%;
	left: 21%;*/
    width: 475px;
	height: 375px;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
	display: flex;
	align-items: center;
	justify-content: center;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    margin-top: 102px;
	font-size: 40px;
    padding: 0;
    border: 1px solid #888;
    width: 400px;
    height: 70px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
    /*text-shadow: 2px 2px #b0a6a6;*/
    /*opacity: 1;*/
}

.modal-body {
	padding: 2px 16px;
	text-shadow: 2px 2px #b0a6a6;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:500px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:500px; opacity:0}
    to {top:0; opacity:1}
}
























@media only screen and (max-width: 720px) {
	body{
		padding-top: 10%;
		padding-left: 5%;
		padding-right: 5%;
	}
	header.site-header{
		width: 100%;
	}
	div#title{
	}
	header.site-header div#title h1#header-left{
		font-size: 60px;
	    width: 100%; 
	}
	span.game-intro{
		font-size: 15px;
		height: 50px;
		line-height: 29.7px;
	}
	div#header-right{
		padding: 5px 15px 5px 15px;
		/*margin-left: 10px;*/
		font-size: 20px;
		height: 50px;
	}

	strong.important{
		font-size:20px;
		height:auto;
		line-height:29.7px;
	}
	span#creator{
		font-size:20px;
		height:auto;
		line-height:29.7px;
	}
	.grid-container {
	  }
	.grid-row &:last-child {
	    margin-bottom: 0;
	}

	.grid-row &:after {
	}
	.grid-cell &:last-child {
	      margin-right: 0;
	}
	div.grid-container{
		padding: 9px;
		margin-top: 10%;
	}
	div.grid-row{
	}
	div.grid-cell{
		height: 83px;
		width: 83px;
		border: 3px solid rgba(238, 228, 218, 0.35);
		border-radius: 3px;
		margin:6.75px;
		box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
		color:rgb(119, 110, 101);
		font-family:"Clear Sans", "Helvetica Neue", Arial, sans-serif;
		font-size:60px;

	}
	section{
		width:100%;

	}
	footer.how-to-play{
		bottom: 0;
		width: 100%;
		margin-top: 130%;
		margin-bottom: 10%;
	}
	div#win_msg{
		/*display: none;*/
		top:10px;
		left: 10px;
		font-size: 40px;
		width: 475px;
		height: 475px;
	}

	.modal {
		top:10px;
		left: 10px;
	    padding-top: 100px;
	    width: 475px;
		height: 375px;
	}
	.modal-content {
	    margin: auto;
	    margin-top: 102px;
		font-size: 40px;
	    padding: 0;
	    width: 400px;
	    height: 70px;
	}

}